<% layout('./layout/boilarplate.ejs') -%>

<div class="card-container">
    
    <% for(let movie of movies) { %>
        <a href="/movies/<%= movie._id %>">
        <div class="card">
            <img width="250px" height="250px" src="<%= movie.imageURL.url %>" alt="<%= movie.title %>">
            <h3><%= movie.title %></h3>
            <p><strong>Director:</strong> <%= movie.director %></p>
            <p><strong>Rating:</strong> <%= movie.rating %></p>
            <p><strong>Hero:</strong> <%= movie.hero %></p>
        </div>
        </a>
    <% } %>
    
    
</div>


